<navigation></navigation>

<a name="books"></a>
<section id="books" class="intro-header bg-light-gray bounds content-section-ap">
   <div class="container-fluid">
      <div ng-if="mainCtrl.chars">
         <div class="row">
            <div class="col-lg-12 text-center">
               <h2>Characters of Game of Thrones</h2>
               <h3>  Below you will find all Characters  </h3>
            </div>
            <div class="col-md-3  col-xs-6 col-sm-3"  style="padding:0 !important; margin:10px 0px">
	            <select class="hh" ng-model="searchCharName.name"  >
	               <option class="form-control"  value="" selected="selected" >--Select Name--</option>
	               <option class=" form-control" ng-repeat="item in mainCtrl.allChars | unique : 'name' | orderBy:'name'"  ng-if='item.name' value="{{item.name}}">{{item.name}}</option>
	            </select>
         	</div>
	        <div class="col-md-3  col-xs-6 col-sm-3" style="padding:0 !important; margin:10px 0px">
	            <select class="hh" ng-model="searchCharGender.gender"  ">
	               <option class="form-control"  value="" enabled selected="">--Select Gender--</option>
	               <option class="form-control" ng-repeat="item in mainCtrl.allChars | unique : 'gender' | orderBy:'gender'" ng-if='item.gender' value="{{item.gender}}">{{item.gender}}</option>
	            </select>
	        </div>
	        <div class="col-md-3  col-xs-6 col-sm-3" style="padding:0 !important; margin:10px 0px">
	            <select class="hh"  ng-model="searchCharAlias.aliases"  >
	               <option class="form-control"  value="" enabled >--Select Alias--</option>
	               <option class="form-control" ng-repeat="item in mainCtrl.allChars  | orderBy:'aliases[0]'"   ng-if='item.aliases[0]' value="{{item.aliases[0]}}">{{item.aliases[0]}}</option>
	            </select>
	        </div>
	        <div class="col-md-3  col-xs-6 col-sm-3" style="padding:0 !important; margin:10px 0px">
	            <button type="button" ng-show="ascendingButton" ng-click="changeOrder()" class = "form-control hh abtn" name="button" style="width: 50%;">
		            <span style="float:left;">Sort</span>
		            <i class="fa fa-long-arrow-down fa-2x" aria-hidden="true" style="float:right;"></i>
	            </button>
	            <button type="button" ng-show="descendingButton" ng-click="changeOrder()" class = "form-control hh abtn" name="button" style="width: 50%;">
		            <span style="float:left;">Sort</span>
		            <i class="fa fa-long-arrow-up fa-2x" aria-hidden="true" style="float:right;"></i>
	            </button>
	         </div>
         </div>      <!-- Row Ends-->
      
      <hr style=" border-top: 1px solid black; margin-top: 5px;">
               
         <div ng-repeat = "item in mainCtrl.allChars | filter:searchCharName | filter:searchCharGender | filter:searchCharAlias | orderBy: alterOrder">
            <chars-dir></chars-dir>
         </div>

      </div>      <!-- ng-if Ends -->
   </div>         <!-- Container Ends -->
</section>        <!-- Section Ends -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>  <!-- Back to top button -->


