<navigation></navigation>
<!--TO DISPLAY ALL DATA-->

<a name="books"></a>
<section id="books" class="intro-header bg-light-gray bounds content-section-ap">
   <div class="container-fluid" >
      <div ng-if="mainCtrl.all">
         <div class="row">
            <div class="col-lg-12 text-center">
               <h2>   Below you will find all the data of Game Of Thrones     </h2>
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-4 text-center " style="padding:0 !important; margin:10px 0px;">
               <input type="text" name="book" class="form-control searchbox" placeholder="by Name .." ng-model="searchName.name" style="width: 50%;">
            </div>
            <div  class=" col-md-4 col-xs-12 col-md-offset-0 col-sm-4" style="padding:0 !important; margin:10px 0px">
               <button type="button" ng-show="ascendingButton" ng-click="changeOrder()" class = "form-control abtn" name="button" style="width: 50%;">
                  <span style="float:left;"> Sort</span>
                  <i class="fa fa-long-arrow-down fa-2x" aria-hidden="true" style="float:right;"></i>
               </button>
               <button type="button" ng-show="descendingButton" ng-click="changeOrder()" class = "form-control abtn " name="button" style="width: 50%;">
                  <span style="float:left;">Sort</span>
                  <i class="fa fa-long-arrow-up fa-2x" aria-hidden="true" style="float:right;"></i>
               </button>
            </div>
         </div>         <!-- Row Ends -->
            
      <hr style=" border-top: 1px solid black; margin-top: 5px;">
      
         <div class="row">
            <div ng-repeat = "item in mainCtrl.allData | orderBy: alterOrder | filter:searchName">
               <books-dir ng-if ="item.isbn"></books-dir>
               <houses-dir ng-if ="item.region"></houses-dir>
               <chars-dir ng-if ="item.gender"></chars-dir>
            </div>
         </div>
      
      </div>      <!-- ng-if Ends -->
   </div>         <!-- Container Ends -->
</section>        <!-- Section Ends -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>  <!-- Back to top button -->