<!-- Toggle Menu Navbar filters start -->
<nav class="navbar navbar-default navbar-fixed-top topnav"  role="navigation">
   <div class="container topnav">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand topnav" href="#/" ><img src="images/logo1.png" style="width: 150px;max-width: 100%; height: 50px; margin-bottom: 0px;"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="navbar-nav nav navbar-right">           
              <li>   
                  <a ng-href="#/" ng-click="reloadRoute()" class=" nav-link js-scroll-trigger">Home</a>
              </li>
              <li> 
                  <a ng-href="#/all" ng-click="reloadRoute()" class=" nav-link js-scroll-trigger">All</a>
              </li>
              <li>
                  <a ng-href="#/books" ng-click="reloadRoute()" class=" nav-link js-scroll-trigger">Books</a>
              <li>
                  <a ng-href="#/characters" ng-click="reloadRoute()" class=" nav-link js-scroll-trigger">Characters</a></li>
              <li>
                  <a ng-href="#/houses" ng-click="reloadRoute()" class=" nav-link js-scroll-trigger">Houses</a>
              </li>
          </ul>
      </div>
   </div>
</nav>          <!-- Toggle Menu Navbar filters Ends -->